<a href="https://colab.research.google.com/github/swaroopkasaraneni/PythonProgramming/blob/main/fileCase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is the output of the following code?
nums =set([1,1,2,3,3,3,4,4])
print(len(nums))

In [1]:
nums =set([1,1,2,3,3,3,4,4])
print(len(nums))

4

2 What will be the output?
d ={"john":40, "peter":45}
print(list(d.keys()))

In [2]:
d ={"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

3.A website requires a user to input username and password to register. Write a program to check the validity of password given by user. Following are the criteria for checking password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12

In [4]:
import re

def check_password(password):
    if (6 <= len(password) <= 12 and
        re.search(r'[a-z]', password) and
        re.search(r'[A-Z]', password) and
        re.search(r'[0-9]', password) and
        re.search(r'[$#@]', password)):
        return True
    else:
        return False

user = input("Enter a user name: ")
password = input("Enter a password: ")
if check_password(password):
    print("Password is valid.")
else:
    print("Password is invalid.")

Enter a user name: swaroop
Enter a password: Swaroop@12
Password is valid.

4.Write a for loop that prints all elements of a list and their position in the list.a = [4,7,3,2,5,9]

In [5]:
a = [4, 7, 3, 2, 5, 9]
for i in range(len(a)):
    print(f"Position {i}: Element {a[i]}")

Position 0: Element 4
Position 1: Element 7
Position 2: Element 3
Position 3: Element 2
Position 4: Element 5
Position 5: Element 9

5.Please   write   a   program   which accepts  a   string   from   console   and   print   the characters that have even indexes

In [6]:
input_string = input("Enter a string: ")
even_index_chars = input_string[::2]
print("Characters with even indexes:", even_index_chars)

Enter a string: H1e2l3l4o5w6o7r8l9d
Characters with even indexes: Helloworld

6.Please write a program which accepts a string from console and print it in reverse order

In [7]:
input_string = input("Enter a string: ")
reversed_string = input_string[::-1]
print("Reversed string:", reversed_string)

Enter a string: rise to vote sir
Reversed string: ris etov ot esir

7.Please write a program which count and print the numbers of each character in a string input by console.

In [8]:

input_string = input("Enter a string: ")
char_count = {}

for char in input_string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print("Character counts:")
for char, count in char_count.items():
    print(f"'{char}': {count}")

Enter a string: abcdefgabc
Character counts:
'a': 2
'b': 2
'c': 2
'd': 1
'e': 1
'f': 1
'g': 1

8.With   two   given   lists   [1,3,6,78,35,55]   and   [12,24,35,24,88,120,155],   write   a program to make a list whose elements are intersection of the above given lists.

In [9]:
list1 = [1, 3, 6, 78, 35, 55]
list2 = [12, 24, 35, 24, 88, 120, 155]

intersection = list(set(list1).intersection(set(list2)))

print("Intersection of the two lists:", intersection)

Intersection of the two lists: [35]

9.With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

In [10]:
input_list = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]

converted_set = set(input_list)
result = list(converted_set)

# Print the result list
print("List after removing duplicates:", result)

List after removing duplicates: [35, 12, 155, 24, 88, 120]

10.By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [11]:
input_list = [12, 24, 35, 24, 88, 120, 155]
result = [item for item in input_list if item != 24]
print("List after removing 24:", result)

List after removing 24: [12, 35, 88, 120, 155]

11.By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [12]:
input_list = [12, 24, 35, 70, 88, 120, 155]
result = [item for index, item in enumerate(input_list) if index not in [0, 4, 5]]
print("List after removing 0th, 4th, and 5th elements:", result)

List after removing 0th, 4th, and 5th elements: [24, 35, 70, 155]

12.By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155]

In [13]:
input_list = [12, 24, 35, 70, 88, 120, 155]
result = [item for item in input_list if item % 5 != 0 or item % 7 != 0]
print("List after removing numbers divisible by 5 and 7:", result)

List after removing numbers divisible by 5 and 7: [12, 24, 88, 120, 155]

13.Please  write  a  program  to  randomly  generate  a  list  with  5  numbers,  which  are divisible by 5 and 7 , between 1 and 1000 inclusive.

In [16]:
import random

divisible_by_35 = [i for i in range(1, 1001) if i % 35 == 0]
random_numbers = random.sample(divisible_by_35, 5)
print("Randomly generated list with numbers divisible by 5 and 7:", random_numbers)

Randomly generated list with numbers divisible by 5 and 7: [980, 420, 385, 245, 840]

14.Write  a  program  to  compute  1/2+2/3+3/4+...+n/n+1  with  a  given  n  input  by console (n>0).

In [17]:
n = int(input("Enter a positive integer n: "))
sum_series = 0
for i in range(1, n+1):
    sum_series += i / (i + 1)
print(f"The sum of the series is: {sum_series}")

Enter a positive integer n: 5
The sum of the series is: 3.5500000000000003