<a href="https://colab.research.google.com/github/swaroopkasaraneni/DatasciencePython/blob/main/UnsupervisorCase3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Load the file “zoo.data” and look at the info and the first five rows. The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.
2. Find out the unique number of high-levelcclasses
3. Use the 16-intermediate feature and perform an agglomerative clustering.[ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]
4. Compute the mean squared error by comparing the actual class and predicted high-levelclass.

In [2]:
import pandas as pd
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import mean_squared_error


zoo_df = pd.read_csv("zoo.csv")
print("Dataset Info:")
print(zoo_df.info())
print("\nFirst 5 rows:")
print(zoo_df.head())

# Unique number of high-level classes
unique_classes = zoo_df['class_type'].nunique()
print(f"\nNumber of unique high-level classes: {unique_classes}")

# Prepare data for clustering
X = zoo_df.iloc[:, 1:-1]  # Exclude 'animal_name' and 'class_type'
y_actual = zoo_df['class_type']

# Perform Agglomerative Clustering
agg_clustering = AgglomerativeClustering(n_clusters=unique_classes)
y_pred = agg_clustering.fit_predict(X)

# Compute Mean Squared Error (MSE)
mse = mean_squared_error(y_actual, y_pred)
print(f"\nMean Squared Error (MSE) between actual and predicted classes: {mse}")

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB
None

First 5 rows:
  animal_name  hair  feathers  eggs  milk  airborne  aquatic  predator  \
0    aardvark     1         0     0     1         0        0         1
1    antelope     1         0     0     1         0        0         0
2        bass     0         0     1     0         0        1         1
3        bear     1         0     0     1         0        0         1
4        boar     1         0     0     1         0        0         1

   toothed  backbone  breathes  venomous  fins  legs  tail  domestic  catsize  \
0        1         1         1         0     0     4     0         0        1
1        1         1         1         0     0     4     1         0        1
2        1         1         0         0     1     0     1         0        0
3        1         1         1         0     0     4     0         0        1
4        1         1         1         0     0     4     1         0        1

   class_type
0           1
1           1
2           4
3           1
4           1

Number of unique high-level classes: 7

Mean Squared Error (MSE) between actual and predicted classes: 7.673267326732673